@charset "UTF-8";
/*PALETA DE COLORES*/
html {
  font-size: 0.6rem;
  background-color: #B6BBC4;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  background-color: #161A30;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

header {
  margin-top: 0;
}

.ofertas {
  background-color: #161A30;
  text-align: center;
  font-size: 2rem;
  color: #F0ECE5;
}
.ofertas p {
  margin: 0;
}

.encabezado {
  background-color: #B6BBC4;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.encabezado .Geekmon-logo {
  height: 100px;
  width: 100px;
}
.encabezado form {
  margin-left: 10px;
}
.encabezado form #txt-buscar {
  font-size: 10px;
  padding: 10px;
  width: 400px;
}
.encabezado .user,
.encabezado .car {
  width: 20px;
  height: 20px;
  margin: 20px 0 0 5px;
  padding: 5px;
}
.encabezado .user a,
.encabezado .car a {
  pointer-events: none;
  cursor: default;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
#banner img {
  width: 100%;
  max-height: 500px;
}
#banner .menu-banner {
  text-align: center;
  background-color: #31304D;
  padding: 10px;
  width: 100%;
}
#banner .menu-banner ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
#banner .menu-banner ul li {
  font-size: 1.5rem;
  margin-right: 15px;
}
#banner .menu-banner ul li a {
  text-decoration: none;
  color: #F0ECE5;
}

#productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  margin-top: 20px;
}
#productos a {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0 10px 0;
  text-decoration: none;
  color: rgb(23, 6, 87);
}
#productos a img {
  width: 60%;
  max-width: 80%;
  height: auto;
  border: 1px solid #F0ECE5;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  /*PROPIEDAD PARA AFECTAR TRANSFORM */
}
#productos a:hover img {
  transform: scale(1.1);
}

footer {
  text-align: center;
  background-color: #F0ECE5;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
footer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer form label {
  margin: 10px 0 10px 0;
  font-size: 2rem;
}
footer form input {
  margin-top: 10px;
}
footer form button {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer a img {
  width: 30px;
  margin: 0 5px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  header,
  section img,
  footer img,
  footer div {
    display: none;
  }
  .menu-banner {
    position: fixed;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #productos {
    grid-template-columns: repeat(1, 1fr);
  }
  #productos a:first-child {
    margin-top: 50px;
  }
  footer {
    text-align: center;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 100%;
    margin: 0 auto;
    margin-top: auto;
  }
}
.container-prod-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-prod {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2px;
  max-width: 800px;
  width: 100%;
}

.imgppal {
  grid-area: 1/1/3/2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.imgppal img {
  width: 200px;
  height: 200px;
  border-radius: 60px;
  border: 2px solid #161A30;
  margin: 50px 0 0 50px;
}

.tittle-desc {
  grid-area: 1/2/3/3;
  margin: 70px 0 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}
.tittle-desc p {
  font-size: 1.3rem;
  text-align: center;
}
.tittle-desc h1 {
  text-align: center;
}

.others {
  grid-area: 3/1/4/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  border-top: 2px solid #161A30;
}
.others img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid #161A30;
  margin: 0px 0 0 30px;
}

.other-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .container-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-prod .imgppal {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .container-prod .imgppal img {
    margin: 5px auto;
  }
  .container-prod .imgsecod {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .tittle-desc {
    margin: 50px 10px 0 10px;
    text-align: center;
  }
  .tittle-desc p {
    margin-bottom: 50px;
  }
  .others h2 {
    display: none;
  }
  .others .other-items {
    display: none;
  }
}
#producto-ofer {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección de flexión a columna */
}
#producto-ofer h1 {
  text-align: center; /* Centramos el texto */
  margin-top: 20px;
}
#producto-ofer .fila {
  display: flex;
  justify-content: space-around;
}
#producto-ofer .fila div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#producto-ofer img {
  width: 60%;
  max-width: 80%;
  height: auto;
  border: 1px solid #F0ECE5;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
#producto-ofer img:hover {
  transform: scale(1.1);
}
#producto-ofer p {
  font-size: 1.5rem;
}
#producto-ofer .precio-original {
  text-decoration: line-through;
  color: #161A30;
}
#producto-ofer .oferta {
  color: #920202;
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 800px) {
  #producto-ofer h1 {
    text-align: center; /* Centramos el texto */
    margin: 50px 0 20px 0;
  }
  #producto-ofer .fila {
    flex-direction: column;
  }
}

#gal-bs {
  margin-top: 20px;
  margin-bottom: 20px;
}
#gal-bs h1 {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}
#gal-bs p {
  text-align: center;
  font-size: 1.6rem;
}
#gal-bs .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#gal-bs .row .col-lg-4,
#gal-bs .row .col-md-6,
#gal-bs .row .col-sm-12 {
  width: calc(40% - 20px);
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
#gal-bs .row .col-lg-4:hover,
#gal-bs .row .col-md-6:hover,
#gal-bs .row .col-sm-12:hover {
  transform: scale(1.05);
}
#gal-bs .row .col-lg-4 img,
#gal-bs .row .col-md-6 img,
#gal-bs .row .col-sm-12 img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  border: 1px solid #F0ECE5;
  box-shadow: 0px 2px 5px #161A30;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  .col-lg-4,
  .col-md-6,
  .col-sm-12 {
    width: 100%;
    margin-bottom: 20px;
  }
}
#ayuda {
  max-width: 800px;
  margin: 0 auto;
}
#ayuda h1 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 2.5rem;
}
#ayuda p,
#ayuda ul,
#ayuda li {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
#ayuda ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
#ayuda li {
  margin-bottom: 5px;
}
#ayuda h2 {
  margin-top: 20px;
  border-top: 1px solid #F0ECE5;
  padding-top: 20px;
  font-size: 1.6rem;
}
#ayuda p {
  line-height: 1.5;
  margin-bottom: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  #ayuda {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  #ayuda h1 {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=estilos.css.map */
