/*PALETA DE COLORES
#161A30
#31304D
#B6BBC4
#F0ECE5 


/*INDEX*/
/* CONFIGURACION GENERAL*/
html {
    font-size: 10px;
    background-color: #B6BBC4;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-top: 0;

}

/* ENCABEZADO Y BANNER*/

.ofertas {
    background-color: #161A30;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
}

.ofertas p {
    margin: 0;
}


.encabezado {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Geekmon-logo {
    height: 100px;
    width: 100px;
}

form {
    margin-left: 10px;
}

#txt-buscar {
    font-size: 10px;
    padding: 10px;
    width: 400px;
}

.user,
.car {
    width: 20px;
    height: 20px;
    margin: 20px 0 0 5px;

    padding: 5px;
}

/*BANNER DE LA PÁGINA*/

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    /* cualquier contenido que se extienda más allá de los límites del contenedor será ocultado*/
}

#banner img {
    width: 100%;
    max-height: 500px;
}

.menu-banner {

    text-align: center;
    background-color: #31304D;
    padding: 10px;
    width: 100%;
}

.menu-banner ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

}

.menu-banner li {
    font-size: 1.5rem;
    margin-right: 15px;
}

.menu-banner a {
    text-decoration: none;
    color: #F0ECE5;
}

/* CUERPO DE PAGINA CON PRODUCTOS*/

#productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    margin-top: 20px;
}

#productos img {
    width: 70%;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    /*PROPIEDAD PARA AFECTAR TRANSFORM */
}

/* EFECTO DEL PUNTERO EN IMAGEN */
#productos img:hover {
    transform: scale(1.1);
}

#productos p,
#productos a {
    text-align: center;
    font-size: 1.5rem;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: #F0ECE5;
    padding: 20px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    font-size: 2rem;
    margin-bottom: 10px;
}

input {
    margin-top: 10px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a img {
    width: 30px;
    margin: 0 5px;
    margin-bottom: 10px;
}


/* INICIO DE SESION */

#sesion {
    text-align: center;
}

#sesion form {
    background-color: #31304D;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

#sesion label {
    margin-bottom: 8px;
    font-size: 16px;
    color: #F0ECE5;
}

#sesion input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #161A30;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/*CARRITO*/

.carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.prod-car {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ccc;
}

.item {
    margin: 20px 50px 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.item img {
    width: 250px;
    height: 250px;
    border: 1px solid #000000;
    border-radius: 100px;
    margin: 20px 50px 40px 0;

}


.item-text {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.item p {
    margin: 5px 0;
}

.desc-car-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    padding-left: 20px;
}

.desc-car-section p {
    font-size: 1.3rem;
    padding-left: 15px;
}

.desc-car-section h2 {
    margin-bottom: 20px;
}


.desc-car {
    display: flex;
    flex-direction: column;
}

.desc-car-section-check {

    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 1.3rem;
}






/* PÁGINA: DESCRIPCIÓN DE PRODUCTOS*/

.container-prod-center {
    display: flex;
    justify-content: center;
    align-items: center;


}

.container-prod {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2px;
    max-width: 800px;
    width: 100%;


}

.imgppal {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tittle-desc {
    grid-area: 1 / 2 / 3 / 3;
    margin: 70px 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

.others {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    border-top: 2px solid #161A30;
}

.imgppal img {

    width: 200px;
    height: 200px;
    border-radius: 60px;
    border: 2px solid #161A30;
    margin: 50px 0 0 50px;
}

.tittle-desc p {
    font-size: 1.3rem;
    text-align: center;
}

.tittle-desc h1 {
    text-align: center;

}


.other-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.others img {

    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid #161A30;
    margin: 0px 0 0 30px;


}

/*OFERTAS*/

#producto-ofer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#producto-ofer .fila {
    display: flex;
}

#producto-ofer .fila > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#producto-ofer img {
    width: 70%;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* EFECTO DEL PUNTERO EN IMAGEN */
#producto-ofer img:hover {
    transform: scale(1.1);
}

#producto-ofer p {
    font-size: 1.5rem;
}

.precio-original {
    text-decoration: line-through; /* Línea a través del precio original */
    color: #888; /* Color gris para el precio original */
}

.oferta {
    color: #920202;
    font-weight: bold; 
}

/*LO NUEVO BOOTSTRAP*/

#gal-bs .col-lg-4{
    margin: 0;
    padding: 25px;
}

#gal-bs img{
    width: 450px;
    height: 450px;
}

#gal-bs img:hover{
    border: 5px solid #f7f7f7;
}

#gal-bs p {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 20px;
}

/*PAGINA DE PERSONALIZADOS*/
#person {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#nombre, #apellido, #tel, #cantidad{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}


/* PÁGINA AYUDA */

#ayuda {
    max-width: 800px;
    margin: 0 auto;
}


#ayuda h1 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 2.5rem;

}

#ayuda p,
#ayuda ul,
#ayuda li {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    margin-bottom: 10px;

}

#ayuda ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#ayuda li {
    margin-bottom: 5px;
}

#ayuda h2 {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    font-size: 1.6rem;
}

#ayuda p {
    line-height: 1.5;
    margin-bottom: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {

    /*INDEX*/
    header,
    footer img,
    footer div {
        display: none;
    }


    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner img {
        width: 100%;
        height: auto;

    }

    #productos {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        text-align: center;
        padding: 20px;
        width: calc(100% - 40px);
        max-width: 100%;
        /* Cambio a max-width: 100% */
        margin: 0 auto;
        margin-top: auto;
    }

    /*DESCRIPCION*/

    .container-prod-center {
        display: flex;
        justify-content: center;
        /* Centrar horizontalmente */
        align-items: flex-start;
        /* Alinear en la parte superior */
    }

    .container-prod {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        width: 100%;
    }

    .tittle-desc,
    .imgppal {
        margin-right: 45px;
        margin-top: 0;
    }

    .others,
    .imgsecod {
        display: none;
    }
}