#gal-bs {
  .col-lg-4 {
    margin: 0;
    padding: 20px;
  }

  img {
    width: 430px;
    height: 430px;
  }

  img:hover {
    border: 5px solid $azul;
  }

  p {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 20px;
  }
}