// página de ofertas

#producto-ofer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  
    .fila {
      display: flex;
  
       div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  
    img {
      width: 70%;
      max-width: 100%;
      height: auto;
      border: 1px solid $blanco;
      border-radius: 8px;
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  
    p {
      font-size: 1.5rem;
    }
  
    .precio-original {
      text-decoration: line-through; 
      color: $azul; 
    }
  
    .oferta {
      color: #920202;
      font-weight: bold; 
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 800px) {    

    .fila {
      flex-direction: column;
    }
  }
