//inicio de sesión

#sesion {
    text-align: center;

    form {
        background-color: $azul-osc;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px $azul-osc(0, 0, 0, 0.1);
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px auto;

        label {
            margin-bottom: 8px;
            font-size: 16px;
            color:$blanco;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            font-size: 16px;
        }

        button {
            background-color: $azul-osc;
            color: $blanco;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
    }
}